<!doctype html>
<html ng-app="MainApp">

<head>
    <meta charset="utf-8">
    <title>Mgular Is My Awesome App</title>
    <meta name="description" content="Our Public Project">
    <meta name="author" content="">
    <meta name="fragment" content="!" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />

    <link rel='stylesheet' href='css/style.css' />
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-strap/dist/angular-strap.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>

    <script type="text/javascript" src="node_modules/block-ui/jquery.blockUI.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/spin.js/spin.js"></script>


</head>

<body id="spinner">
    <div class="container" ng-controller="globalCtrl">
        <%- body %>
    </div>
    <script type="text/javascript" src="dist/alljavascript.js"></script>

</body>

</html>